@import "../core/variables.scss";

.form {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: auto;
  border-radius: 0 35px 0 0;
  background-color: $primaryColor;
  padding: 20px;
  z-index: 10;

  &__icon {
    display: flex;
    justify-content: flex-end;
    right: 100px;
    color: $light-grey;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    margin-top: 75px;
    color: $light-grey;
    font-size: 1.8rem;
    gap: 10px;
    padding: 0 20px;
  }
  &__label {
    margin-top: 20px;
  }
  &__button {
    display: inline-block;
    margin: 80px auto 100px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: $light-grey;
    background-color: $green-tag;
  }
}
.input-text {
  border-radius: 15px;
  border: none;
  padding: 10px;
}
