@import "../core/variables.scss";
.container {
  width: 100%;
  min-height: 100vh;
}
.image-list {
  display: block;
  margin: 30% auto;
  width: 70vw;
  height: auto;
  object-fit: cover;
}
.text-listPage {
  text-align: center;
  color: $primaryColor;
  font-weight: bold;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  list-style: none;
  max-width: 2000px;
  margin: auto;
}
