@import "../core/variables.scss";

.task {
  width: 100%;
  height: auto;
  padding: 10px;
  list-style: none;

  &__container {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: $yellow;
    box-shadow: 5px 5px 5px $grey;
  }
  &__level {
    border-radius: 15px;
    &-normal {
      /*  background-color: $green-tag; */
      background-color: #b4cde6;
    }
    &-urgent {
      background-color: $orange-tag;
    }
    &-blocking {
      background-color: $red-tag;
    }
    &-text {
      font-size: 1.4rem;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__title {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 300;
  }
  &__actions {
    display: inline-block;
    position: relative;
    left: calc(85%);
    cursor: pointer;
  }
  & i {
    padding: 2px;
  }
}
